
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Tìm Kiếm...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
           </li>
            <li>
                <a href="~/Admin/Tourist_Group"><i class="fa fa-dashboard fa-fw"></i> Quản lí đoàn khách</a>
            </li>
            <li>
                <a href="~/Admin/Customer"><i class="fa fa-bar-chart-o fa-fw"></i> Quản Lí Khách Hàng<span class=""></span></a>
                
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/Admin/Home"><i class="fa fa-table fa-fw"></i> Về Chúng Tôi</a>
            </li>
           
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>